@keyframes moveTop {
    from {
        -webkit-transform: rotateX(13deg) rotateY(0deg);
        transform: rotateX(13deg) rotateY(0deg);
    }

    to {
        -webkit-transform: rotateX(13deg) rotateY(360deg);
        transform: rotateX(13deg) rotateY(360deg);
    }
}