
@font-face {
  font-family: "Jost-ExtraBold";
  src: url('./fonts/Jost-ExtraBold.ttf');
}
@font-face {
  font-family: "Jost-Bold";
  src: url('./fonts/Jost-Bold.ttf');
}
@font-face {
  font-family: "Jost-SemiBold";
  src: url('./fonts/Jost-SemiBold.ttf');
}
